.home {
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    z-index: 90;
    background-color: $color-white;

    &--logo {
        position: absolute;
        bottom: 1rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: 5;
        color: $color-primary-light;

        .logo--title {
            font-size: 2rem;
        }

        .logo--subtitle {
            font-size: 1rem;
        }
    }

    &--account {
        height: 100%;
        width: 20rem;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        &--button {
            border: 0;
            min-width: unset;

            .dropdown--button--icon {
                display: none;
            }

            &:hover {
                background-color: unset;
            }

            & + .dropdown--options {
                min-width: 15rem;
            }

        }


        &--wrapper {
            position: absolute;
            top: 2rem;
            right: 8rem;
            z-index: 5;
        }

        &--icon {
            text-transform: uppercase;
            font-size: 2rem;
            background-color: $color-white-2;
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
            letter-spacing: 0.2rem;
            user-select: none;
            cursor: pointer;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            background-size: cover;
            background-position: center;

            &-image {
                transition: all .3s; 
                cursor: pointer !important;

                &:hover {
                    filter: blur(4px);;
                }
                &:hover &--edit {
                    filter: blur(0);;
                }
            }
        }

        &:hover &--dropdown {
            max-height: 50rem;
            opacity: 1;
        }

        &--dropdown {
            z-index: 50;
            position: absolute;
            bottom: 0;
            right: 50%;
            transform: translate(50%, calc(100% - 0.1rem));
            width: 25rem;
            background-color: $color-white-2;
            display: flex;
            flex-direction: column;
            align-items: center;
            box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
            border: 1px solid $color-grey;
            overflow: hidden;
            max-height: 0;
            opacity: 0;
            transition: all .35s;

            &--image {
                transition: all .3s; 
                cursor: pointer !important;

                &-edit {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, calc(-50% + 0.5rem));
                    color: $color-white;
                    font-size: 2.6rem;
                    z-index: 1;
                    opacity: 0;
                    transition: all .3s;

                    &-dark {
                        color: $color-grey-3;
                    }
                }
            }

            &--image_container {
                position: relative;
                margin-bottom: 1rem;
                cursor: pointer;
                border: 1px solid #000;
                border-radius: 50%;
                transition: all .3s;

                &:hover {
                    border: 1px solid transparent;
                }
            }

            &--image_container:hover &--image {
                filter: blur(4px);                    
            }
            
            &--image_container:hover &--image-edit {
                opacity: 1;
                transform: translate(-50%, -50%);                   
            }

            &--item {
                text-transform: none;
                font-size: 1.4rem;
                font-weight: 500;
                letter-spacing: normal;
                padding: 0.5rem 0.75rem;
                text-align: center;
                width: 100%;
                user-select: none;
                cursor: pointer;

                &:link, &:visited {
                    text-decoration: none;
                    color: inherit;
                }

                &-header {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    align-self: stretch;
                    background-color: white;
                    padding: 4rem 0rem;
                    color: $color-grey-3;
                    font-size: 1.6rem;
                    font-weight: 500;
                    line-height: 2rem;
                }

                &-text {
                    text-transform: capitalize;
                    font-weight: 600;
                }
                
                &-email {
                    text-transform: lowercase;
                }

                &-icon {
                    width: 10rem;
                    height: 10rem;
                    cursor: unset;
                }

                &:hover {
                    background-color: $color-grey; 
                }
            }
        }
    }

    &--trips {
        display: flex;
        position: fixed;
        top: 3rem;
        left: 10rem;
        z-index: 6;
        background-color: $color-white;
        border-radius: 4px;

        &--dropdown {
            max-width: 17rem;
            max-height: 4.76rem;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            & + .dropdown--options {
                border: none;
                min-width: unset;
            }

            &--selected {
                position: relative;
                padding-left: 3rem;

                &::before {
                    content: "";
                    position: absolute;
                    left: 1rem;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 1rem;
                    height: 1rem;
                    border-radius: 50%;
                    background-color: $color-primary;
                }
            }
        }

        &--add {
            border-radius: 0;
            height: 4.76rem;
            width: 4.76rem;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: unset;
            background-color: $color-primary;
            border: 0;
            color: $color-white;
            font-size: 1.8rem;

            &:hover {
                background-color: $color-primary-dark;
            }

            &:active {
                background-color: $color-primary-dark-2;
            }
        }
    }

    &--sidebar {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 5;
        height: 100vh;
        width: 40rem;
        background-color: $color-white;
        box-shadow: 4px 0 1rem 1rem rgba(0, 0, 0, 0.05);

        &--open, &--close {
            padding: 0;
            height: 4.76rem;
            border-radius: 0;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;

            display: flex;
            justify-content: center;
            align-items: center;

            &:active {
                transform: none;
            }

            &--wrapper {
                position: fixed;
                z-index: 10;
            }
        }

        &--open {
            &--wrapper {
                top: 3rem;
                left: 0;
            }
        }

        &--close {
            &--wrapper {
                top: 3rem;
                left: 40rem;
            }
        }

        &--header {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            height: 18rem;
            border-bottom: 1px solid $color-grey;
            padding: 2rem 0;

            &--edit {
                background-color: $color-white;
                color: $color-grey-2;
                padding: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 4rem;
                height: 4rem;

                &--wrapper {
                    position: fixed;
                    z-index: 8;
                    top: 3.2rem;
                    left: 3rem;
                }

                &:hover {
                    background-color: $color-white;
                    color: $color-grey-3;
                }

                &:active {
                    transform: none;
                }
            }
            
            &--delete {
                background-color: $color-white;
                color: $color-grey-2;
                padding: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 4rem;
                height: 4rem;

                &--wrapper {
                    position: fixed;
                    z-index: 8;
                    top: 3.2rem;
                    left: 33.6rem;
                }

                &:hover {
                    background-color: $color-white;
                    color: $color-grey-3;
                }

                &:active {
                    transform: none;
                }
            }

            &--edit_input {
                position: fixed;
                top: 3rem;
                left: 10rem;
                z-index: 7;
                height: 4.76rem;
                width: 17rem;
                border: 1px solid $color-grey;
                border-radius: 4px;
                font-size: 1.6rem;
                font-family: $font-primary;
                padding: 0 1rem;
                color: $color-grey-2;

                &:focus {
                    outline: none;
                }
            }

            &--date {
                display: flex;

                &--from, &--to {
                    position: relative;

                    &--label {
                        font-weight: 600;
                        color: $color-grey-2;
                        font-size: 1.3rem;
                        position: absolute;
                        left: 0;
                        top: -2.5rem;
                    }
                }

                &--from {

                }

                &--to {
                    margin-left: 2rem;
                    font-size: 1.6rem;
                    font-weight: 600;
                    color: $color-grey-2;
                    border: 1px solid $color-grey;
                    border-radius: 4px;
                    min-width: 15.2rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    user-select: none;
                }
            }
        }

        &--destinations {
            position: relative;
            display: flex;
            flex-direction: column;
            padding-top: 8rem;

            &--header {
                position: absolute;
                left: 2rem;
                top: 2rem;
                font-size: 2rem;
                color: $color-grey-2;
                font-weight: 600;
                user-select: none;
                font-family: $font-heading;
            }

            &--add {
                background-color: $color-white;
                color: $color-grey-2;
                padding: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 4rem;
                height: 4rem;

                &:hover {
                    background-color: $color-white;
                    color: $color-grey-3;
                }

                &:active {
                    transform: none;
                }

                &--wrapper {
                    position: absolute;
                    right: 2rem;
                    top: 2rem;
                }
            }

            &--list {
                display: flex;
                flex-direction: column;
                height: calc(100vh - 34rem); 
                max-height: calc(100vh - 34rem);
                overflow-y: auto;  
                border-top: 2px solid $color-grey;
                position: relative;
            }

            &--item {
                display: flex;
                border-bottom: 1px solid $color-grey;
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    left: 1rem;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 7px;
                    height: 80%;
                    background-color: $color-primary;
                    border-radius: 4px;
                }

                &--delete {
                    background-color: unset;
                    font-size: 1.3rem;
                    color: $color-grey-2;
                    padding: 0;

                    &:hover {
                        background-color: unset;
                        color: $color-grey-3;
                    }

                    &--wrapper {
                        position: absolute;
                        right: 0.5rem;
                        top: 0.5rem;
                    }
                }

                &--days {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin-right: 2rem;
                    padding-top: 2rem;

                    &--dropdown {
                        min-width: unset;
                        width: 9rem;
                        height: 100%;
                        font-size: 1.4rem;
                        padding: 0.5rem 0.5rem 0.5rem 1.25rem;
                        color: $color-grey-3;

                        &:hover {
                            background-color: unset;
                        }

                        &--wrapper {
                            .dropdown--options {
                                min-width: 8rem;
                            }
                        }
                    }

                    &--label {
                        color: $color-grey-2;
                        text-transform: uppercase;
                        font-weight: 600;
                        font-family: $font-heading;
                        font-size: 1.3rem;
                        user-select: none;
                    }
                }
                
                &--details {
                    display: flex;
                    flex-direction: column;
                    padding: 1rem 3rem;

                    &--name {
                        border: 1px solid $color-grey;
                        font-family: $font-primary;
                        color: $color-grey-3;
                        font-size: 1.6rem;
                        padding: 0.75rem 1rem;

                        &:focus {
                            outline: none;
                        }
                    }

                    &--coordinates {
                        display: flex;
                        position: relative;
                        margin-top: 2rem;
    
                        &--label {
                            position: absolute;
                            top: -1.5rem;
                            text-transform: uppercase;
                            font-size: 1.3rem;
                            font-family: $font-heading;
                            font-weight: 600;
                            transform: translateX(-50%);
    
                            &-lat {
                                left: 25%;
                            }
    
                            &-long {
                                left: 75%;
                            }
                        }
    
                        &--item {
                            border: 0;
                            font-family: $font-primary;
                            color: $color-grey-2;
                            font-size: 1.3rem;
                            font-weight: 600;
                            padding: 0.5rem 1rem;
                            width: 50%;
                            text-align: center;
    
                            &:not(:last-child) {
                                border-right: 1px solid $color-grey;
                            }

                            &:focus {
                                outline: none;
                            }
                        }
                    }
                }
            }
        }

        &--review {
            margin-top: 2rem;
            align-self: center; 
            
            &--icon {
                margin-right: 1rem;
            }
        }
    }
}