.trip {
    grid-row: 2 / -1;
    grid-column: 1 / -1;
    background-color: $color-white-2;
    position: relative;
    display: flex;
    justify-content: center;
    padding: 5rem 0;

    &--destinations {
        width: 60%;
        height: 100%;
        background-color: $color-white;
        border-radius: 4px;
        border: 1px solid $color-grey;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
        margin-right: 4rem;
        max-height: calc(100vh - 17rem);
        overflow-y: auto;
        display: flex;
        flex-direction: column;

        &--item {
            display: flex;
            justify-content: space-between;
            min-height: 20rem;
            padding: 1rem 4rem;
            border-bottom: 1px solid $color-grey;
            position: relative;

            &--name {
                font-size: 3.2rem;
                font-weight: 100;
                align-self: center;
                font-family: $font-heading;
                color: $color-white;
                background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark-2);
                padding: 0.25rem 3rem;
                position: absolute;
                top: 2rem;
                left: 5rem;
            }

            &--details {
                display: flex;
                flex-direction: column;

                &--item {
                    padding: 1rem 2rem;
                    font-size: 2rem;

                    &:not(:last-child) {
                        border-bottom: 1px solid $color-grey;
                    }
                    
                    &--icon {
                        margin-right: 2rem;
                    }
                }
            }
        }
    }
    
    &--sidebar {
        width: 20%;
        height: 100%;
        background-color: $color-white;
        border-radius: 4px;
        border: 1px solid $color-grey;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
        display: flex;
        flex-direction: column;

        &--details, &--calendar {
            position: relative;
            padding-top: 6rem;
            
            &--title {
                position: absolute;
                left: 1rem;
                top: 2rem;
                font-size: 2rem;
                color: $color-grey-2;
                font-weight: 600;
                user-select: none;
                font-family: $font-heading;
            }
        }

        &--details {
            display: flex;
            flex-direction: column;
            padding: 6rem 2rem 0 2rem;

            &--title {
                top: 1rem;
            }

            &--name {
                font-size: 2.8rem;
                font-family: $font-heading;
                background-image: linear-gradient(to right bottom, $color-primary, $color-secondary);
                color: transparent;
                background-clip: text;
                margin-bottom: 1rem;
                border-bottom: 1px solid $color-grey;
                padding-bottom: 1rem;

                &--icon {
                    margin-right: 1rem;
                    color: $color-grey-3;
                }
            }

            &--item {
                display: flex;
                font-size: 1.6rem;
                font-weight: 600;
                background-color: $color-white-2;
                padding: 0.25rem 0.5rem;
                
                &:not(:last-child) {
                    border-bottom: 1px solid $color-grey;
                }


                &--label {
                    flex-basis: 0;
                    flex-grow: 1.5;
                    color: $color-grey-2;
                    
                    &--icon {
                        margin-right: 1rem;
                    }
                }
                
                &--value {
                    padding-left: 2rem;
                    flex-basis: 0;
                    flex-grow: 1;
                    color: $color-primary;
                }
            }
        }

        &--calendar {
            display: flex;
            justify-content: center;
        }
    }
}